* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu';
  outline: none; }

a {
  color: inherit;
  text-decoration: none; }
  a:visited {
    text-decoration: none;
    color: inherit; }
  a:hover {
    text-decoration: none;
    color: inherit; }
  a:focus {
    text-decoration: none;
    color: inherit; }
  a:active {
    text-decoration: none;
    color: inherit; }

.app {
  background-color: #faf8f5;
  min-height: 800px; }

.logo {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1.5px 10px 0 rgba(1, 0, 42, 0.05);
  box-shadow: 0px 1.5px 10px 0 rgba(1, 0, 42, 0.05);
  text-align: center; }
  .logo span {
    color: #ff6a30; }

.title {
  width: 100%;
  margin-top: 30px;
  font-weight: 500;
  font-size: 20px;
  color: #262626;
  text-align: center; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0% 10%;
  padding-top: 40px; }

.data .choose-expenses, .data .month-income, .data .optionalexpenses {
  margin: 13px 0px;
  font-weight: 500;
  font-size: 14px;
  color: #262626;
  text-align: center; }

.data .expenses-item, .data .month-income-item, .data .optionalexpenses-item, .data .choose-sum, .data .choose-percent {
  height: 35px;
  width: calc((100%/2) - 4px);
  border-radius: 2.5px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2.5px 10px 0 rgba(1, 0, 42, 0.1);
  box-shadow: 0px 2.5px 10px 0 rgba(1, 0, 42, 0.1);
  border: none;
  padding-left: 10px;
  margin: 5px 0;
  font-size: 14px;
  color: #a7a7a7; }
  .data .expenses-item::-webkit-input-placeholder, .data .month-income-item::-webkit-input-placeholder, .data .optionalexpenses-item::-webkit-input-placeholder, .data .choose-sum::-webkit-input-placeholder, .data .choose-percent::-webkit-input-placeholder {
    opacity: .3; }
  .data .expenses-item:-ms-input-placeholder, .data .month-income-item:-ms-input-placeholder, .data .optionalexpenses-item:-ms-input-placeholder, .data .choose-sum:-ms-input-placeholder, .data .choose-percent:-ms-input-placeholder {
    opacity: .3; }
  .data .expenses-item::-ms-input-placeholder, .data .month-income-item::-ms-input-placeholder, .data .optionalexpenses-item::-ms-input-placeholder, .data .choose-sum::-ms-input-placeholder, .data .choose-percent::-ms-input-placeholder {
    opacity: .3; }
  .data .expenses-item::placeholder, .data .month-income-item::placeholder, .data .optionalexpenses-item::placeholder, .data .choose-sum::placeholder, .data .choose-percent::placeholder {
    opacity: .3; }

.data .remove-opt-exp-btn, .data .addOptExpensesBtn, .data .remove-expenses-btn, .data .expenses-item-btn, .data .optionalexpenses-btn, .data .add-expenses-btn, .data .month-income-bth {
  width: 100px;
  height: 30px;
  display: block;
  margin: 10px auto;
  border: none;
  border-radius: 2.5px;
  background-image: -webkit-linear-gradient(114deg, #ffbd75, #ff964b), -webkit-linear-gradient(#ffffff, #ffffff);
  background-image: -o-linear-gradient(114deg, #ffbd75, #ff964b), -o-linear-gradient(#ffffff, #ffffff);
  background-image: linear-gradient(336deg, #ffbd75, #ff964b), linear-gradient(#ffffff, #ffffff);
  -webkit-box-shadow: 0px 2.5px 10px 0 rgba(1, 0, 42, 0.1);
  box-shadow: 0px 2.5px 10px 0 rgba(1, 0, 42, 0.1);
  color: #fff;
  font-weight: 100;
  font-size: 12px;
  cursor: pointer; }

.data .month-income, .data .exp-item-btns, .data .opt-exp-item-btns, .data .open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.data .checksavings {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center; }
  .data .checksavings input {
    width: 30px; }

.data .choose-sum, .data .choose-percent {
  width: 30%;
  margin: 15px; }

.data .disabled-form {
  background-color: #7777775e;
  -webkit-box-shadow: inset 0 0 6px;
  box-shadow: inset 0 0 6px; }

.data .start, .data .reset {
  width: 100px;
  height: 30px;
  display: block;
  margin: 10px auto;
  border: none;
  border-radius: 2.5px;
  background-image: -webkit-linear-gradient(114deg, #ffbd75, #ff964b), -webkit-linear-gradient(#ffffff, #ffffff);
  background-image: -o-linear-gradient(114deg, #ffbd75, #ff964b), -o-linear-gradient(#ffffff, #ffffff);
  background-image: linear-gradient(336deg, #ffbd75, #ff964b), linear-gradient(#ffffff, #ffffff);
  -webkit-box-shadow: 0px 2.5px 10px 0 rgba(1, 0, 42, 0.1);
  box-shadow: 0px 2.5px 10px 0 rgba(1, 0, 42, 0.1);
  color: #fff;
  font-weight: 100;
  font-size: 12px;
  cursor: pointer;
  width: 200px;
  height: 45px;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 100; }

.result {
  width: 50%; }
  .result-table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 90%;
    min-height: 400px;
    margin: 0 auto;
    margin-top: 42px;
    padding: 25px;
    background-color: #fff;
    -webkit-box-shadow: 0px 1.5px 20px 0 rgba(1, 0, 42, 0.1);
    box-shadow: 0px 1.5px 20px 0 rgba(1, 0, 42, 0.1); }
    .result-table .budget, .result-table .budget-value, .result-table .daybudget, .result-table .daybudget-value, .result-table .expenses, .result-table .expenses-value, .result-table .optionalexpenses, .result-table .optionalexpenses-value, .result-table .monthsavings, .result-table .monthsavings-value, .result-table .yearsavings, .result-table .yearsavings-value {
      width: 48%;
      margin-top: 10px;
      min-height: 40px;
      padding: 10px;
      font-weight: 500; }
    .result-table .budget-value, .result-table .daybudget-value, .result-table .expenses-value, .result-table .optionalexpenses-value, .result-table .monthsavings-value, .result-table .yearsavings-value {
      color: #61a654;
      word-break: break-word; }
  .result .time-data {
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 40px; }
    .result .time-data .year, .result .time-data .month, .result .time-data .day {
      font-size: 16px;
      font-weight: 500; }
    .result .time-data .year-value, .result .time-data .month-value, .result .time-data .day-value {
      height: 35px;
      width: calc((100%/2) - 4px);
      border-radius: 2.5px;
      background-color: #ffffff;
      -webkit-box-shadow: 0px 2.5px 10px 0 rgba(1, 0, 42, 0.1);
      box-shadow: 0px 2.5px 10px 0 rgba(1, 0, 42, 0.1);
      border: none;
      padding-left: 10px;
      margin: 5px 0;
      font-size: 14px;
      color: #a7a7a7;
      width: 80px;
      height: 30px;
      margin-left: 25px; }
